//	coscup.style.container.less
//	Created by Evadne Wu at Iridia, 2010



@import url("lib.monoSnippets.less");

@coscupBackgroundColor: rgb(51, 98, 114);

.decorativeBar {

//	.textShadow();
	height: 4 * @slice;

}





.shinyPalette {

	border: inset 1px solid rgba(0, 0, 0, .125);

}