.withDownwardsArrow:before {
  content: "";
  font-family: "Wingdings";
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
nav, header, footer, article, block, section { display: block; }
.withDownwardsArrow:before {
  content: "";
  font-family: "Wingdings";
}
.decorativeBar { height: 36px; }
.decorativeBar:before {
  display: block;
  height: 9px;
  width: 100%;
  background: black;
}
.shinyPalette { border: inset 1px solid rgba(0, 0, 0, 0.125); }
.textSansSerif { font-family: "Vegur", "LiHei Pro"; }
a {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  font-style: inherit;
}
.coscupSidebar {
  width: 216px;
  padding: 0 36px;
}
.coscupNavigationTag {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  height: 36px;
  font-size: 18px;
  line-height: 36px;
  padding-top: 9px;
  position: relative;
  top: -9px;
  -webkit-border-radius: 4.5px;
  -moz-border-radius: 4.5px;
  -o-border-radius: 4.5px;
  border-radius: 4.5px;
  -uu-border-radius: 4.5px;
  behavior: url(lib.monoSnippets.hack.borderRadius.htc);
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  margin: -1px;
  opacity: 0.75;
  margin-right: 36px;
}
.coscupNavigationTag:hover { opacity: 1; }
.coscupNavigationTag:last-child { margin-right: 0px; }
html {
  background-color: #336272;
  overflow-x: auto;
  font-family: "Vegur", "LiHei Pro";
  color: white;
}
.d {
  background: rgba(255, 255, 255, 0.125);
  outline: 1px solid rgba(255, 255, 255, 0.125);
}
.d:hover { outline: 4.5px solid rgba(255, 64, 64, 0.5); }
.d * {
  background: rgba(255, 255, 255, 0.125);
  outline: 1px solid rgba(255, 255, 255, 0.125);
}
.d *:hover { outline: 4.5px solid rgba(255, 64, 64, 0.5); }
body {
  min-width: 1080px;
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
body header {
  display: list-item;
  list-style: none;
}
body header + section {
  display: list-item;
  list-style: none;
}
body footer {
  display: list-item;
  list-style: none;
}
body header nav {
  display: block;
  position: relative;
}
body header nav ul.main-menu { padding-left: 54px; }
body header nav ul.main-menu li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  height: 36px;
  font-size: 18px;
  line-height: 36px;
  padding-top: 9px;
  position: relative;
  top: -9px;
  -webkit-border-radius: 4.5px;
  -moz-border-radius: 4.5px;
  -o-border-radius: 4.5px;
  border-radius: 4.5px;
  -uu-border-radius: 4.5px;
  behavior: url(lib.monoSnippets.hack.borderRadius.htc);
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  margin: -1px;
  opacity: 0.75;
  margin-right: 36px;
  min-width: 108px;
}
body header nav ul.main-menu li:hover { opacity: 1; }
body header nav ul.main-menu li:last-child { margin-right: 0px; }
body header nav section.block-locale {
  width: 216px;
  padding: 0 36px;
  position: absolute;
  right: 0px;
  top: 0px;
}
body header a { display: block; }
body header + section { display: table; }
body header + section article { display: table-cell; }
body header + section aside { display: table-cell; }
body header + section article {
  width: auto;
  padding: 0 72px;
}
body header + section aside {
  width: 216px;
  padding: 0 36px;
}
