@font-face {
  font-family: "coscupContextual";
  font-style: normal;
  font-weight: normal;
  src: local("Vegur"), local("Myriad Pro"), local("Myriad"), local("LiHei Pro");
}
@font-face {
  font-family: "coscupContextual";
  font-style: normal;
  font-weight: bold;
  src: local("Vegur-Bold"), local("Myriad Pro"), local("Myriad"), local("LiHeiPro"), local("LiHei Pro");
}
.textSansSerif { font-family: "coscupContextual"; }
