//	coscup.style.container.less
//	Created by Evadne Wu at Iridia, 2010



@import url("lib.monoSnippets.less");
@import url("coscup.style.includes.less");





html {

	background-color: @coscupBackgroundColor;

}





body {

	width: 12 * @pack;
	margin: 0 auto;
	margin-top: 4 * @pack;
	margin-bottom: 6 * @pack;
	
	aside {
	
		section.sidebarPalette {
		
			h2 {
			
				.decorativeBar;
			
			}
		
		}
	
	}

}





footer {

	.decorativeBar;

}










